.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin: 30px 0px 0px 0px;
}
.header__container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: var(--card-background);
  padding: 8px 10px;
  border-radius: 12px;
  border: solid 2px var(--gray);
  gap: 10px;
}
.header__container::after {
  content: "";
  position: absolute;
  height: 50px;
  width: 50px;
  right: -20px;
  border-right: 50px solid var(--card-background);
  border-top: 50px solid transparent;
  rotate: -45deg;
}

.header__resumeBtn {
  background: linear-gradient(
    90deg,
    var(--primary-red) 0%,
    var(--primary-pink) 100%
  );
  color: var(--white);
  border: 0px;
  outline-width: 0px;
  padding: 0px;
  height: 50px;
  width: 50px;
  border-radius: 10px;
  font-size: 30px;
  cursor: pointer;
  transition: 0.2s cubic-bezier(0.67, 0.52, 1, 2.54);
}

.header__resumeBtn:hover {
  transform: scale(1.05);
}

.header__nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.header__navLink {
  text-decoration: none;
  color: var(--white);
  padding: 4px 20px;
  border-radius: 1000px;
  font-size: 18px;
  font-family: var(--text-font);
  transition: 0.3s ease;
}

.header__navLink.active {
  background: var(--gray);
}

.header__navLink:hover {
  color: var(--primary-red);
  transform: scale(1.1);
}
.header__navLink.active:hover {
  color: var(--white);
}

.header__line {
  width: 2px;
  height: 30px;
  background: var(--gray);
  margin: 0px -5px;
}

.header__logo {
  width: 180px;
}

.menutoggle-btn {
  padding: 0px;
  margin: 0px;
  height: 25px;
  width: 35px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  outline: 0px;
  border: 0px;
  cursor: pointer;
  background-color: transparent;
  transition: 0.5s;
  z-index: 3;
}

.menutoggle-btn::after {
  content: "";
  background-color: var(--primary-red);
  width: 100%;
  height: 3px;
  box-shadow: 0px 11px 0px var(--primary-red);
  transition: 0.5s;
}

.menutoggle-btn::before {
  content: "";
  background-color: var(--primary-red);
  width: 100%;
  height: 3px;
  transform: translateY(-8px);
  transition: 0.5s;
}

.menutoggle-btn.active {
  transform: rotate(180deg);
}

.menutoggle-btn.active::after {
  box-shadow: 0px 0px 0px var(--primary-red);
  transform: translate(0px, -2px) rotate(-45deg);
}

.menutoggle-btn.active::before {
  transform: translate(0px, 2px) rotate(45deg);
}

@media screen and (max-width: 925px) {
  .header {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0px;
    margin: 0px;
    padding: 20px;
  }
  .header__logo {
    height: 50px;
    width: auto;
  }
  .header__container {
    display: none;
    transition: 0s;
  }
  .header__container::after {
    display: none;
  }
  .header a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .menutoggle-btn {
    display: flex;
  }
  .header__container.active {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    gap: 20px;
    padding: 20px;
    width: 100dvw;
    height: 100dvh;
    border: solid 2px var(--gray);
    background: var(--card-background);
    z-index: 2;
    border-radius: 0px;
  }
  .header__container.active::after {
    display: none;
  }
  .header__nav {
    flex-direction: column;
    gap: 20px;
  }
  .header__navLink {
    font-size: 24px;
    padding: 10px 40px;
  }
  .header__line {
    display: none;
  }
  a .header__resumeBtn {
    position: absolute;
    left: 20px;
    top: 20px;
  }
}
