:root {
  --primary-red: #e51717;
  --primary-pink: #e61550;
  --gradient: linear-gradient(90deg, #e51717 0%, #e61550 100%);
  --background: #141414;
  --card-background: #232323;
  --card-background-2: #1a1a1a;
  --white: #ffffff;
  --title-white: #fdf0f0;
  --black: #000000;
  --gray: #444342;
  --title-font: "Alfa Slab One", serif;
  --text-font: "Itim", cursive;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--text-font);
  background-color: var(--background);
  color: #ffffff;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: var(--black);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--primary-red);
  border-radius: 20px;
  border: 3px solid var(--black);
}
